.pattern
  background: url("http://www.arborgroup.co/assets/svgs/pattern-arbor.svg") center center / cover no-repeat
  width: 16rem
  height: 16rem
  display: block
  
.pattern--hero
  position: absolute
  bottom: -14rem
  right: 0
  @media #{$screen-sm}
    bottom: -12rem
.pattern--body
  display: none

  @media #{$screen-md}
    display: block
    position: absolute
    bottom: 4rem
    left: -12rem
.pattern--contact
  position: absolute
  bottom: -19rem
  right: 1rem
