<header class="header">
  <a class="header__logo" title="Arbor Group">Arbor Group</a>
  
  <nav class="header__nav">
    <ul class="header__navlist">
      <li class="header__navitem">
        <a class="header__navlink" title="About">About</a>
      </li>
      <li class="header__navitem">
        <a class="header__navlink" title="Blog">Blog</a>
      </li>
      <li class="header__navitem">
        <a class="header__navlink" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
  
</header>
