<header class="header">
  <div class="container">
  <a href="/" class="header__logo" title="Arbor Group">
    {% include svgs/logo-arborgroup.svg %}
  </a>
  
    <nav class="header__nav">
      <ul class="header__navlist">
        <li class="header__navitem">
          <a class="header__navlink" title="About" href="#about">About</a>
        </li>
        <li class="header__navitem">
          <a class="header__navlink" title="Blog" href="https://medium.com/the-roots" rel="nofollow" target="_blank">Blog</a>
        </li>
        <li class="header__navitem">
          <a class="header__navlink" title="Contact" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>  
  
</header>
