.section
  background-color: $color__white
  color: $color__teal-light
  padding: 7rem 0
  overflow: hidden
  position: relative
.section--dark
  background-color: $color__teal-dark
  color: $color__white
  h1, h2, h3
    color: $color__white
.section--hero
  padding: 6rem 0 7rem
.section--alt
  padding-top: 0
